* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgba(50, 43, 36, 0.858) !important;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
